{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>4Eyes Forensics: two pairs of eyes, one verdict</title>
    <link rel="icon" href="{% static 'website/images/asset-31026757-380f-4693-b318-78cc1d87bdd4.png' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;700&amp;family=Barlow+Condensed:wght@400;600&amp;display=swap">
    <link rel="stylesheet" href="{% static 'website/css/site.css' %}">
</head>
<body>
    {% block content %}{% endblock %}
    <script src="{% static 'website/js/main.js' %}"></script>
</body>
</html>
